<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <style>
            .h1{
                font-size: 30px;
                color: green;
            }

            .h2{
                font-size: 40px;
                color: chocolate;
            }

            .h3{
                font-size: 40px;
                color: brown;
            }

            .bg-grey{
                background-color: grey;
            }

            .bg-green{
                background-color: green;
            } 
            
            .pd-medium{
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <div id="app" class="pd-medium">
            <h1 style="background-color: aqua; font-size: 40px;">
                {{message}}
            </h1>
            <span v-html="GetMessageWithUpperCase(message)"></span>
            <h2 v-bind:style="{backgroundColor: 'aqua', fontSize: fontSize}">
                Luck Number: {{luckyNumber}}
            </h2>
            <h2 v-once v-bind:style="{'background-color': 'aqua', 'font-size': fontSize}">
                Render Once Luck Number: {{luckyNumber}}
            </h2>
            <h5>
                Luck Number is an {{luckyNumber % 2 == 0 ? "Even Number": "Odd Number"}}
            </h5>
            <p>
                Lucky Numbers: {{luckyNumbers}}
            </p>
            <p v-for="(luckyNumber, index) in luckyNumbers">
                {{++index}}) Lucky Number: <span v-once>{{luckyNumber}}</span>
            </p>
            <p>
                Employee Details:
            </p>
            <ul>
                <li v-for="(value, key) in employee">
                    <span>{{key}} = {{value}}</span>
                </li>
            </ul>
            <p>
                First Lucky Numbers: {{luckyNumbers[0]}}
            </p>
            <p>
                Employee with named {{employee.name}} is {{employee.age}} years old.
            </p>
            <p v-show="employee.hasCorporateCard">
                V-SHOW: Spending limit of Employee card is {{employee.cardSpendingLimit}}.
            </p>
            <p v-if="employee.hasCorporateCard">
                V-IF: Spending limit of Employee card is {{employee.cardSpendingLimit}}.
            </p>
            <p v-else-if="employee.salary > 250000 && employee.yearsWithCompany > 3">
                V-ELSEIF: Employee is eligible for a Corporate card.
            </p>
            <p v-else>
                V-ELSE: Employee does not have a Corporate card.
            </p>
            <p>
                Random number from 1-10: {{Math.floor(Math.random() * 10) + 1}}.
            </p>
            <p>
                Random number from 10-20: {{Math.ceil(Math.random() * (20-10)) + 10}}.
            </p>
            <p class="pd-medium" v-bind:class="{h1:true, 'bg-grey':true}">
                Random number using Function from 1-20000: {{luckyNumber}}.
            </p>
            <p class="pd-medium" v-bind:class="{h2:IsMainTitle, 'bg-green':HasGreenBackground}">
                Random number using Function from 1-20000: {{luckyNumber}}.
            </p>

            <p class="pd-medium" v-bind:class="styles">
                Random number using Function from 1-20000: {{luckyNumber}}.
            </p>

            <p class="pd-medium" v-bind:class="IsMainTitle() ? styles : ''">
                Conditional Styles: Random number using Function from 1-20000: {{luckyNumber}}.
            </p>

            <a v-bind:href="googleURL">Visit Google</a>
            <br>
            <br>
            <a :href="googleURL">Visit Google</a>

            <p>Employee's projects in pipeline</p>
            <ul>
                <li v-for="project in employee.projects" :key="project.id">
                    {{project.id}} - {{project.name}} has timeline of {{project.timeline}}
                    <input type="text" />
                </li>
            </ul>

            <button v-on:click="ButtonClick">Click Me!!!</button>
            <br>
            <br/>
            
            <div v-on:click.once="ButtonClickWithMessage('Great! you clicked me with parameters From DIV!!!', $event)">
                This particualr div is exciting!!!!
                <br>
                <br>
                <input type="text" v-on:keyup.enter.ctrl="KeyPressed($event)" />
                <br>
                <br>
                <a :href="googleURL"
                    v-on:click.prevent="ButtonClickWithMessage('Great! you clicked me with parameters FROM LINK!!!', $event)"
                >Visit Google With Prevent Only</a>
                <br>
                <br>
                <a :href="googleURL"
                    v-on:click.stop.prevent="ButtonClickWithMessage('Great! you clicked me with parameters FROM LINK!!!', $event)"
                >Visit Google With Stop & Prevent</a>
                <br>
                <br>
                <button id="BtnWithParams" v-on:click.stop="ButtonClickWithMessage('Great! you clicked me with parameters!!!', $event)">Click Me With Parameters!!!</button>
                <br>
                <br/>
                <p> x-axis of BtnWithParams: {{XAxis}} </p>
                <p> y-axis of BtnWithParams: {{YAxis}} </p>
            </div>

            <div>
                <input type="text" v-model.trim="employee.name" />
                <br>
                <br>
                <input type="number" v-model.lazy="employee.age" />
                <br>
                <p>{{employee.name}} is {{employee.age}} years old.</p>
            </div>
        </div>
    </body>
    <script>
        const {createApp, ref, onMounted, reactive} = Vue;

        createApp({
            setup(){                
                const message = 'Hello From Vue 3!';
                const googleURL = 'https://google.com';
                let luckyNumber = ref(7);
                const luckyNumbers = [1,3,5,6,7,9,10];
                const employee = reactive({
                    name: "John",
                    age: 30,
                    salary: 500000,
                    hasCorporateCard: false,
                    cardSpendingLimit: 250000,
                    yearsWithCompany: 2.5,
                    projects:[
                        { id: "1", name: "Project A", timeline: "2 years"  },
                        { id: "2", name: "Project B", timeline: "2 months"  },
                        { id: "3", name: "Project C", timeline: "5 months"  },
                        { id: "4", name: "Project D", timeline: "3.2 years"  },
                        { id: "5", name: "Project E", timeline: "9 month"  },
                        { id: "6", name: "Project F", timeline: "1 year"  },
                    ]
                });
                
                const min = 1, max = 20000;
                const fontSize = '40px';

                const styles = {
                    h3:IsMainTitle(),
                    'bg-green':HasGreenBackground
                };

                function GetRandomNumberFrom1To20000(min, max){                    
                    console.log((min));
                    console.log((max));
                    console.log((max-min));
                    var value = Math.ceil(Math.random() * (max-min));
                    console.log(value);
                    return value;
                }

                function GetMessageWithUpperCase(message){
                    return `<h1><u>${message.toUpperCase()}</u></h1>`;
                }

                function UpdateEmployeeDetails(){
                    employee.age = 40;
                    employee.salary = 5000000;
                }

                onMounted(() => {
                    let value = GetRandomNumberFrom1To20000(min, max);
                    setTimeout(function (){
                        UpdateEmployeeDetails();
                        luckyNumber.value = value;
                    }, 2500);

                    setTimeout(function (){
                        ShuffleEmployeesProjectOrder();
                    }, 10000);
                })
                
                function ShuffleEmployeesProjectOrder(){
                    employee.projects.sort(()=>Math.random()-0.5);
                }

                function IsMainTitle(){
                    return false;
                }

                function HasGreenBackground(){
                    return true;
                }

                function ButtonClick(){
                    alert('Great! you clicked me!!!');
                }

                function ButtonClickWithMessage(message, event){
                    console.log(event);
                    XAxis.value = event.x;
                    YAxis.value = event.y;
                    alert(message);
                }
                
                const XAxis = ref(0), YAxis = ref(0);

                function KeyPressed(){
                    console.log("CTRL+ENTER KEY was pressed");
                }

                return {
                    message,
                    luckyNumber,
                    luckyNumbers,
                    employee,
                    min,
                    max,
                    GetRandomNumberFrom1To20000,
                    GetMessageWithUpperCase,
                    googleURL,
                    fontSize,
                    IsMainTitle,
                    HasGreenBackground,
                    styles,
                    ButtonClick,
                    ButtonClickWithMessage,
                    XAxis,
                    YAxis,
                    KeyPressed
                }
            }
        }).mount("#app");
    </script>
</html>