<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <h1 style="background-color: aqua; font-size: 40px;">
                {{message}}
            </h1>
            <span v-html="GetMessageWithUpperCase(message)"></span>
            <h2 v-bind:style="{backgroundColor: 'aqua', fontSize: fontSize}">
                Luck Number: {{luckyNumber}}
            </h2>
            <h2 v-once v-bind:style="{'background-color': 'aqua', 'font-size': fontSize}">
                Render Once Luck Number: {{luckyNumber}}
            </h2>
            <h5>
                Luck Number is an {{luckyNumber % 2 == 0 ? "Even Number": "Odd Number"}}
            </h5>
            <p>
                Lucky Numbers: {{luckyNumbers}}
            </p>
            <p v-for="(luckyNumber, index) in luckyNumbers">
                {{++index}}) Lucky Number: <span v-once>{{luckyNumber}}</span>
            </p>
            <p>
                Employee Details:
            </p>
            <ul>
                <li v-for="(value, key) in employee">
                    <span>{{key}} = {{value}}</span>
                </li>
            </ul>
            <p>
                First Lucky Numbers: {{luckyNumbers[0]}}
            </p>
            <p>
                Employee with named {{employee.name}} is {{employee.age}} years old.
            </p>
            <p v-show="employee.hasCorporateCard">
                V-SHOW: Spending limit of Employee card is {{employee.cardSpendingLimit}}.
            </p>
            <p v-if="employee.hasCorporateCard">
                V-IF: Spending limit of Employee card is {{employee.cardSpendingLimit}}.
            </p>
            <p v-else-if="employee.salary > 250000 && employee.yearsWithCompany > 3">
                V-ELSEIF: Employee is eligible for a Corporate card.
            </p>
            <p v-else>
                V-ELSE: Employee does not have a Corporate card.
            </p>
            <p>
                Random number from 1-10: {{Math.floor(Math.random() * 10) + 1}}.
            </p>
            <p>
                Random number from 10-20: {{Math.ceil(Math.random() * (20-10)) + 10}}.
            </p>
            <p>
                Random number using Function from 1-20000: {{luckyNumber}}.
            </p>
            <a v-bind:href="googleURL">Visit Google</a>

            <p>Employee's projects in pipeline</p>
            <ul>
                <li v-for="project in employee.projects" :key="project.id">
                    {{project.id}} - {{project.name}} has timeline of {{project.timeline}}
                    <input type="text" />
                </li>
            </ul>
        </div>
    </body>
    <script>
        const {createApp, ref, onMounted, reactive} = Vue;

        createApp({
            setup(){                
                const message = 'Hello From Vue 3!';
                const googleURL = 'https://google.com';
                let luckyNumber = ref(7);
                const luckyNumbers = [1,3,5,6,7,9,10];
                const employee = reactive({
                    name: "John",
                    age: 30,
                    salary: 500000,
                    hasCorporateCard: false,
                    cardSpendingLimit: 250000,
                    yearsWithCompany: 2.5,
                    projects:[
                        { id: "1", name: "Project A", timeline: "2 years"  },
                        { id: "2", name: "Project B", timeline: "2 months"  },
                        { id: "3", name: "Project C", timeline: "5 months"  },
                        { id: "4", name: "Project D", timeline: "3.2 years"  },
                        { id: "5", name: "Project E", timeline: "9 month"  },
                        { id: "6", name: "Project F", timeline: "1 year"  },
                    ]
                });
                
                const min = 1, max = 20000;
                const fontSize = '40px';

                function GetRandomNumberFrom1To20000(min, max){                    
                    console.log((min));
                    console.log((max));
                    console.log((max-min));
                    var value = Math.ceil(Math.random() * (max-min));
                    console.log(value);
                    return value;
                }

                function GetMessageWithUpperCase(message){
                    return `<h1><u>${message.toUpperCase()}</u></h1>`;
                }

                function UpdateEmployeeDetails(){
                    employee.age = 40;
                    employee.salary = 5000000;
                }

                onMounted(() => {
                    let value = GetRandomNumberFrom1To20000(min, max);
                    setTimeout(function (){
                        UpdateEmployeeDetails();
                        luckyNumber.value = value;
                    }, 2500);

                    setTimeout(function (){
                        ShuffleEmployeesProjectOrder();
                    }, 10000);
                })
                
                function ShuffleEmployeesProjectOrder(){
                    employee.projects.sort(()=>Math.random()-0.5);
                }

                return {
                    message,
                    luckyNumber,
                    luckyNumbers,
                    employee,
                    min,
                    max,
                    GetRandomNumberFrom1To20000,
                    GetMessageWithUpperCase,
                    googleURL,
                    fontSize
                }
            }
        }).mount("#app");
    </script>
</html>